body {
    margin: 0;
    background-color: #0A1931;
    text-align: center;
    font-family: serif;
}

.container {
    position: relative;
    padding-top: 75px;
    margin: 0;
    background-color: #185ADB;
}

h1 {
    padding-top: 100px;
    margin: 0;
}

.container1 {
    width: 200px;
    height: 200px;
    background-color: #FFC947;
}

.container2 {
    width: 200px;
    height: 200px;
    background-color: #FEDDBE;
}

.top-cloud {
    position: absolute;
    right: 275px;
}

.bottom-cloud {
    left: 275px;
    position: absolute;
}

.mountain {
    margin-bottom: -4px;
}